<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Saaapps"
        android:extractNativeLibs="true"
        tools:targetApi="34">

        <!-- Launcher -->
        <activity
            android:name=".pertemuan4.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Saaapps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pertemuan4.AuthActivity" android:exported="false" />
        <activity android:name=".pertemuan4.MainActivity" android:exported="false" />
        <activity android:name=".Quiz.LoginActivity" android:exported="false" />
        <activity android:name=".Quiz.RegisterActivity" android:exported="false" />
        <activity android:name=".Quiz.VerifikasiActivity" android:exported="false" />

        <activity android:name=".pertemuan4.Pertemuan1Activity" android:exported="false" />
        <activity android:name=".Pertemuan_2.SecondActivity" android:exported="false" />
        <activity android:name=".Pertemuan_3.WelcomeActivity" android:exported="false" />
        <activity android:name=".pertemuan4.RumusBangunRuangActivity" android:exported="false" />
        <activity android:name=".pertemuan4.Custom1Activity" android:exported="false" />
        <activity android:name=".pertemuan4.Custom2Activity" android:exported="false" />
        <activity android:name=".pertemuan4.FourthActivity" android:exported="false" />
        <activity android:name=".pertemuan4.SeventhActivity" android:exported="false" />
        <activity android:name=".pertemuan5.WebViewActivity" android:exported="false" />
        <activity android:name=".pertemuan9.NinthActivity" android:exported="false" />
        <activity android:name=".pertemuan_10.TenthActivity" android:exported="false" />
        <activity android:name=".Pertemuan12.NoteFormActivity" android:exported="false" />
        <activity android:name=".pertemuan11.EleventhActivity" android:exported="false" />
        <activity android:name=".pertemuan11.OnboardingActivity" android:exported="false" />
        <activity android:name=".pertemuan13.ThirteenthActivity" android:exported="false" />

        <!-- Scanner Activity -->
        <activity android:name=".pertemuan13.ScannerActivity" android:exported="false" />

        <activity android:name=".utils.ReminderActivity" android:exported="false" />

        <receiver android:name=".utils.NotificationReceiver" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.saa_apps.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>